extends layout

block content
    .container
        .row
            .col-md-12
                h3.pl-3.mb-0.mt-4.py-2(style='border-left: 4px solid #b3e5fc; font-size: 24px;') #{albumname}
        #img-template.row
            if infos
                each info, i in infos
                    .col-md-4.my-4
                        .card
                            .view.overlay
                                img.card-img-top(src=info.url, alt='Card image cap', style='object-fit: contain; height: 252px')
                                a(href='javascript:;')
                                    .mask.rgba-white-slight
                            .card-body.px-0.pb-0
                                h5.card-title.mb-4.ml-3
                                    | #{info.name}
                                    button.navbar-toggler.float-right(data-toggle='collapse', data-target='#img-info0', aria-expanded='false')
                                        span.dark-blue-text
                                            i.fa.fa-commenting-o.fa-1x(style='font-size: 16px; color: #AAA')  (#{info.messages.length})
                                    span.float-right
                                        i.fa.fa-heart-o(style='font-size: 16px; color: #AAA')  (#{info.likes})
                                // 标签
                                .container.mb-3
                                    .row
                                        .col-sm-12
                                            each tag, i in info.tags
                                                label.btn.btn-dark.z-depth-0.btn-sm.disabled.ml-0.px-4 #{tag}
                                // 留言/评论
                                #img-info0.collapse(style='background-color: #F1F2F3')
                                    .container
                                        ul.list-unstyled.my-0.pt-3
                                            each msg, i in info.messages
                                                li.media.pb-3
                                                    a(href='/access/'+msg.username, title=msg.username)
                                                        img.d-flex.mr-3.comment-profile(src=msg.avatar, alt='头像')
                                                    .media-body
                                                        span.comment-date #{msg.date}
                                                        |&nbsp;&nbsp; #{msg.msg}
        #fullscreenModal.modal.animated.zoomIn.fade(tabindex='-1', role='dialog')
            .modal-dialog.animated.zoomIn.faster.modal-fluid.modal-dialog-centered(role='document', style='overflow: hidden')
                .modal-content.mx-auto(style='background-color: transparent; width: 72%')
                    img#fsImg.img-fluid.mx-auto(src='/images/1.jpg')

    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/mdb.min.js')
    script(src='/javascripts/bootstrap-select.min.js')
    script.
        window.onload = function(){
            $(".navbar-toggler").each(function (idx, ele) {
                $(this).attr("data-target", "#img-info" + String(idx));
                $(".collapse").eq(idx).attr("id", "img-info" + String(idx));
            });

            $(".mask").on("click", function () {
                $("#fsImg")[0].src = $(this).parents(".view").children()[0].src;
                $("#fullscreenModal").modal("show");
            })
        }